* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    font-family: "Roboto", serif;
}

p {
    margin-bottom: 0.5rem;
}

h2, h3 {
    margin: 0.5rem 0;
}

/* Header Section */

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #1E3B26;
}

#logo {
    display: flex;
    align-items: center;
    font-family: "Protest Revolution", sans-serif;
    font-size: 2rem;
}

#logo img {
    height: 50px;
    margin: 10px 10px 0 10px;
}

#navigation {
    display: flex;
    justify-content: space-around;
    width: 400px;
}

#navigation li {
    display: inline-block;
}

#navigation li a {
    color:#1E3B26;
    text-decoration:none;
    padding: 5px 10px;
}

#navigation li a:hover {
    background-color:#1E3B26;
    color:#ECF0E5;
    padding: 5px 10px;
    border-radius: 5px;
}

/* Banner Section */

#banner {
    margin: 10px 20px;
    display: flex;
    justify-content: end;
    background-image: url("../resources/img/todd-trapani-aVVAI7z0WoY-unsplash.jpg");
    background-size: cover;
    background-position: center;
}

#banner-text {
    background-color: #1E3B26;
    opacity: 0.9;
    margin: 15% 15%;
    padding: 50px;
    color: white;
    width: 500px;
    border-radius: 5px;
}

/* Services section */

#services {
    margin: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#services .heading {
    width: 64%;
}

.srv-cont {
    display: flex;
    justify-content: center;
    max-width: 100%;
}

.srv-itm {
    background-color: #ECF0E5;
    margin: 0 1%;
    width: 20%;
    padding: 20px;
    border-radius: 5px;
}

.srv-itm img {
    max-width: 100%;
    display: block;
    height: auto;
}

/* About section */

#about {
    margin: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about .heading {
    width: 64%;
}

.about-cont {
    display: flex;
    justify-content: space-between;
    width: 64%;
    background-color: #ECF0E5;
    align-items: center;
    border-radius: 5px;
}

.about-itm {
    padding: 20px;
}

.about-itm img {
    max-width: 100%;
    display: block;
    height: auto;
}

.about-itm p {
    font-size: 1.5rem;
    font-style:italic;
}

/* Contact section */

#contact {
    margin: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact .heading {
    width: 64%;
}

.contact-cont {
    display: flex;
    width: 64%;
    background-color: #ECF0E5;
    height: 400px;
    border-radius: 5px;

}

.contact-itm {
    padding: 20px;
    background-color: #1E3B26;
    color:#ECF0E5;
    min-width: 240px;
    border-radius: 5px;

}

#contact-map {
    background-image: url("../resources/img/contact-map.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    border-radius: 5px;

}

#contact-info div{
    margin-bottom: 2rem;
}

/* Footer section */

footer {
    border-top: 1px solid #1E3B26;
    background-color: #1E3B26;
    padding: 1rem 0;
    color:#ECF0E5;
    display:flex;
    justify-content: space-around;
}

footer a {
    color:#ECF0E5;
}

footer ul {
    list-style-type: none;
}

/* Responsive */

@media only screen and (max-width: 800px) {
    .srv-cont {
        flex-direction: column;
        width: 100%;
    }

    .srv-itm {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1% 0;
    }

    .about-cont {
        width: 100%;
    }

    .contact-cont {
        width: 100%;
    }

    .heading {
        width: 100% !important;
    }

    .contact-itm {
        min-width: auto;
    }
}